In [1]:
import pandas as pd
import numpy as np

In [2]:
raw_df = pd.read_csv('train_data.csv', sep=',')
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41440 entries, 0 to 41439
Data columns (total 51 columns):
ID                    41440 non-null int64
area                  41440 non-null float64
rentType              41440 non-null object
houseType             41440 non-null object
houseFloor            41440 non-null object
totalFloor            41440 non-null int64
houseToward           41440 non-null object
houseDecoration       41440 non-null object
communityName         41440 non-null object
city                  41440 non-null object
region                41440 non-null object
plate                 41440 non-null object
buildYear             41440 non-null object
saleSecHouseNum       41440 non-null int64
subwayStationNum      41440 non-null int64
busStationNum         41440 non-null int64
interSchoolNum        41440 non-null int64
schoolNum             41440 non-null int64
privateSchoolNum      41440 non-null int64
hospitalNum           41440 non-null int64
drugStoreNum          41440 non-null int64
gymNum                41440 non-null int64
bankNum               41440 non-null int64
shopNum               41440 non-null int64
parkNum               41440 non-null int64
mallNum               41440 non-null int64
superMarketNum        41440 non-null int64
totalTradeMoney       41440 non-null int64
totalTradeArea        41440 non-null float64
tradeMeanPrice        41440 non-null float64
tradeSecNum           41440 non-null int64
totalNewTradeMoney    41440 non-null int64
totalNewTradeArea     41440 non-null int64
tradeNewMeanPrice     41440 non-null float64
tradeNewNum           41440 non-null int64
remainNewNum          41440 non-null int64
supplyNewNum          41440 non-null int64
supplyLandNum         41440 non-null int64
supplyLandArea        41440 non-null float64
tradeLandNum          41440 non-null int64
tradeLandArea         41440 non-null float64
landTotalPrice        41440 non-null int64
landMeanPrice         41440 non-null float64
totalWorkers          41440 non-null int64
newWorkers            41440 non-null int64
residentPopulation    41440 non-null int64
pv                    41422 non-null float64
uv                    41422 non-null float64
lookNum               41440 non-null int64
tradeTime             41440 non-null object
tradeMoney            41440 non-null float64
dtypes: float64(10), int64(30), object(11)
memory usage: 16.1+ MB

In [3]:
# 数据中有40列数值型，11列非数值型。
# categories = []
# numerics = []
# cols = raw_df.columns
# for i, col in enumerate(cols):
#     if raw_df[cols[i]].dtype == object:
#         categories.append(col)
#     else:
#         numerics.append(col)
# print(categories)
# print(len(categories))
# print(numerics)
# print(len(numerics))

categories = ['rentType', 'houseType', 'houseFloor', 'houseToward', 'houseDecoration', 'communityName', 'city', 
              'region', 'plate', 'buildYear', 'tradeTime']

numerics = ['ID', 'area', 'totalFloor', 'saleSecHouseNum', 'subwayStationNum', 'busStationNum', 'interSchoolNum', 
            'schoolNum', 'privateSchoolNum', 'hospitalNum', 'drugStoreNum', 'gymNum', 'bankNum', 'shopNum', 'parkNum', 
            'mallNum', 'superMarketNum', 'totalTradeMoney', 'totalTradeArea', 'tradeMeanPrice', 'tradeSecNum', 
            'totalNewTradeMoney', 'totalNewTradeArea', 'tradeNewMeanPrice', 'tradeNewNum', 'remainNewNum', 'supplyNewNum',
            'supplyLandNum', 'supplyLandArea', 'tradeLandNum', 'tradeLandArea', 'landTotalPrice', 'landMeanPrice', 'totalWorkers',
            'newWorkers', 'residentPopulation', 'pv', 'uv', 'lookNum', 'tradeMoney']

In [4]:
raw_df.describe()

,ID,area,totalFloor,saleSecHouseNum,subwayStationNum,busStationNum,interSchoolNum,schoolNum,privateSchoolNum,hospitalNum,...,tradeLandArea,landTotalPrice,landMeanPrice,totalWorkers,newWorkers,residentPopulation,pv,uv,lookNum,tradeMoney
count,4.144000e+04,41440.000000,41440.000000,41440.000000,41440.000000,41440.000000,41440.000000,41440.000000,41440.000000,41440.000000,...,41440.000000,4.144000e+04,41440.000000,41440.000000,41440.000000,41440.000000,41422.000000,41422.000000,41440.000000,4.144000e+04
mean,1.001221e+08,70.959409,11.413152,1.338538,5.741192,187.197153,1.506395,48.228813,6.271911,4.308736,...,12621.406425,1.045363e+08,724.763918,77250.235497,1137.132095,294514.059459,26945.663512,3089.077085,0.396260,8.837074e+03
std,9.376566e+04,88.119569,7.375203,3.180349,4.604929,179.674625,1.687631,29.568448,4.946457,3.359714,...,49853.120341,5.215216e+08,3224.303831,132052.508523,7667.381627,196745.147181,32174.637924,2954.706517,1.653932,5.514287e+05
min,1.000000e+08,1.000000,0.000000,0.000000,0.000000,24.000000,0.000000,9.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000,600.000000,0.000000,49330.000000,17.000000,6.000000,0.000000,0.000000e+00
25%,1.000470e+08,42.607500,6.000000,0.000000,2.000000,74.000000,0.000000,24.000000,2.000000,1.000000,...,0.000000,0.000000e+00,0.000000,13983.000000,0.000000,165293.000000,7928.000000,1053.000000,0.000000,2.800000e+03
50%,1.000960e+08,65.000000,7.000000,0.000000,5.000000,128.000000,1.000000,47.000000,5.000000,4.000000,...,0.000000,0.000000e+00,0.000000,38947.000000,0.000000,245872.000000,20196.000000,2375.000000,0.000000,4.000000e+03
75%,1.001902e+08,90.000000,16.000000,1.000000,7.000000,258.000000,3.000000,61.000000,9.000000,6.000000,...,0.000000,0.000000e+00,0.000000,76668.000000,0.000000,330610.000000,34485.000000,4233.000000,0.000000,5.500000e+03
max,1.003218e+08,15055.000000,88.000000,52.000000,22.000000,824.000000,8.000000,142.000000,24.000000,14.000000,...,555508.010000,6.197570e+09,37513.062490,855400.000000,143700.000000,928198.000000,621864.000000,39876.000000,37.000000,1.000000e+08

In [5]:
raw_df.head()

,ID,area,rentType,houseType,houseFloor,totalFloor,houseToward,houseDecoration,communityName,city,...,landTotalPrice,landMeanPrice,totalWorkers,newWorkers,residentPopulation,pv,uv,lookNum,tradeTime,tradeMoney
0,100309852,68.06,未知方式,2室1厅1卫,低,16,暂无数据,其他,XQ00051,SH,...,0,0.0000,28248,614,111546,1124.0,284.0,0,2018/11/28,2000.0
1,100307942,125.55,未知方式,3室2厅2卫,中,14,暂无数据,简装,XQ00130,SH,...,0,0.0000,14823,148,157552,701.0,22.0,1,2018/12/16,2000.0
2,100307764,132.00,未知方式,3室2厅2卫,低,32,暂无数据,其他,XQ00179,SH,...,0,0.0000,77645,520,131744,57.0,20.0,1,2018/12/22,16000.0
3,100306518,57.00,未知方式,1室1厅1卫,中,17,暂无数据,精装,XQ00313,SH,...,332760000,3080.0331,8750,1665,253337,888.0,279.0,9,2018/12/21,1600.0
4,100305262,129.00,未知方式,3室2厅3卫,低,2,暂无数据,毛坯,XQ01257,SH,...,0,0.0000,800,117,125309,2038.0,480.0,0,2018/11/18,2900.0

In [6]:
# 看一下类别型特征的包含类别
for _, col in enumerate(categories):
    print(col, raw_df[col].unique())
    print()

rentType ['未知方式' '整租' '合租' '--']

houseType ['2室1厅1卫' '3室2厅2卫' '1室1厅1卫' '3室2厅3卫' '4室3厅3卫' '2室2厅1卫' '3室2厅1卫' '3室1厅1卫'
 '5室2厅3卫' '2室1厅2卫' '4室2厅2卫' '1室0厅1卫' '4室2厅3卫' '1室0厅0卫' '2室2厅2卫' '2室0厅1卫'
 '1室2厅1卫' '6室3厅4卫' '4室2厅4卫' '4室2厅1卫' '5室3厅5卫' '4室3厅2卫' '6室3厅2卫' '5室2厅2卫'
 '5室2厅4卫' '1室1厅2卫' '4室1厅3卫' '3室0厅1卫' '5室3厅4卫' '5室5厅4卫' '4室3厅5卫' '4室3厅4卫'
 '0室0厅1卫' '5室2厅5卫' '7室2厅3卫' '3室2厅4卫' '3室3厅2卫' '3室1厅2卫' '5室4厅5卫' '5室3厅3卫'
 '5室2厅6卫' '5室3厅1卫' '3室4厅4卫' '6室2厅4卫' '6室1厅4卫' '3室1厅3卫' '6室2厅3卫' '5室4厅3卫'
 '2室2厅3卫' '4室1厅1卫' '5室1厅1卫' '1室2厅2卫' '6室1厅1卫' '4室1厅2卫' '5室3厅6卫' '4室2厅5卫'
 '6室2厅2卫' '5室1厅2卫' '5室4厅4卫' '2室3厅1卫' '6室4厅2卫' '7室1厅7卫' '3室3厅4卫' '3室2厅5卫'
 '6室3厅5卫' '4室0厅1卫' '5室4厅2卫' '7室4厅3卫' '6室3厅3卫' '6室2厅5卫' '6室2厅7卫' '4室0厅4卫'
 '2室2厅0卫' '3室3厅3卫' '8室3厅4卫' '6室2厅6卫' '1室1厅0卫' '2室1厅0卫' '5室3厅2卫' '5室2厅1卫'
 '2室0厅0卫' '7室1厅1卫' '6室2厅1卫' '8室2厅4卫' '7室2厅1卫' '2室0厅2卫' '3室0厅2卫' '4室0厅2卫'
 '3室1厅0卫' '3室0厅0卫' '9室2厅5卫' '6室4厅5卫' '4室4厅2卫' '4室1厅4卫' '8室4厅4卫' '7室2厅4卫'
 '7室1厅3卫' '8室2厅3卫' '7室3厅4卫' '5室1厅5卫' '2室1厅3卫' '6室4厅4卫' '5室1厅3卫' '9室3厅8卫']

houseFloor ['低' '中' '高']

houseToward ['暂无数据' '西南' '西北' '西' '南北' '南' '东西' '东南' '东' '北']

houseDecoration ['其他' '简装' '精装' '毛坯']

communityName ['XQ00051' 'XQ00130' 'XQ00179' ... 'XQ00607' 'XQ00957' 'XQ00579']

city ['SH']

region ['RG00001' 'RG00002' 'RG00003' 'RG00006' 'RG00007' 'RG00010' 'RG00008'
 'RG00004' 'RG00012' 'RG00009' 'RG00011' 'RG00013' 'RG00014' 'RG00005'
 'RG00015']

plate ['BK00064' 'BK00049' 'BK00050' 'BK00051' 'BK00044' 'BK00052' 'BK00031'
 'BK00028' 'BK00017' 'BK00045' 'BK00027' 'BK00041' 'BK00047' 'BK00009'
 'BK00025' 'BK00024' 'BK00014' 'BK00026' 'BK00042' 'BK00046' 'BK00043'
 'BK00013' 'BK00012' 'BK00005' 'BK00011' 'BK00010' 'BK00003' 'BK00033'
 'BK00053' 'BK00006' 'BK00004' 'BK00002' 'BK00007' 'BK00015' 'BK00016'
 'BK00019' 'BK00030' 'BK00048' 'BK00018' 'BK00008' 'BK00029' 'BK00065'
 'BK00035' 'BK00036' 'BK00022' 'BK00023' 'BK00054' 'BK00038' 'BK00037'
 'BK00034' 'BK00058' 'BK00066' 'BK00039' 'BK00057' 'BK00020' 'BK00059'
 'BK00060' 'BK00063' 'BK00055' 'BK00061' 'BK00040' 'BK00056' 'BK00062'
 'BK00021' 'BK00032' 'BK00001']

buildYear ['1953' '2007' '暂无信息' '2003' '2014' '1997' '1993' '1994' '1998' '2000'
 '1995' '1999' '2015' '1981' '2002' '2010' '2011' '1989' '1983' '2001'
 '2012' '1996' '2004' '2006' '2009' '2008' '1984' '2017' '1976' '1986'
 '1988' '1992' '2005' '1987' '2016' '1965' '1990' '1985' '1978' '2013'
 '1980' '1954' '1982' '1968' '1940' '1966' '1970' '1937' '1979' '1974'
 '1964' '1991' '1977' '1956' '1930' '1952' '1957' '1936' '1967' '1972'
 '1975' '1955' '1949' '1912' '1958' '1973' '1932' '1963' '1931' '1926'
 '1939' '1951' '1960' '1910' '1969' '1920' '1959' '1962' '1961' '1950']

tradeTime ['2018/11/28' '2018/12/16' '2018/12/22' '2018/12/21' '2018/11/18'
 '2018/11/14' '2018/3/24' '2018/3/19' '2018/4/26' '2018/4/29' '2018/3/30'
 '2018/4/1' '2018/4/10' '2018/5/15' '2018/2/10' '2018/3/25' '2018/6/1'
 '2018/4/16' '2018/3/18' '2018/3/28' '2018/2/28' '2018/11/6' '2018/3/16'
 '2018/3/15' '2018/4/8' '2018/5/20' '2018/3/26' '2018/3/27' '2018/4/17'
 '2018/4/24' '2018/5/31' '2018/2/4' '2018/2/25' '2018/2/7' '2018/2/11'
 '2018/4/3' '2018/2/9' '2018/3/10' '2018/4/15' '2018/5/30' '2018/7/30'
 '2018/3/4' '2018/3/11' '2018/3/23' '2018/2/26' '2018/8/5' '2018/3/14'
 '2018/3/17' '2018/5/22' '2018/3/7' '2018/3/9' '2018/11/3' '2018/3/22'
 '2018/2/1' '2018/5/10' '2018/7/29' '2018/2/6' '2018/3/13' '2018/4/13'
 '2018/5/13' '2018/5/5' '2018/2/3' '2018/4/14' '2018/5/26' '2018/7/28'
 '2018/5/27' '2018/7/7' '2018/2/24' '2018/4/7' '2018/5/9' '2018/4/12'
 '2018/5/18' '2018/5/25' '2018/7/14' '2018/3/31' '2018/6/26' '2018/3/5'
 '2018/3/8' '2018/3/21' '2018/7/24' '2018/6/8' '2018/5/7' '2018/5/19'
 '2018/4/21' '2018/3/1' '2018/3/12' '2018/5/16' '2018/4/19' '2018/1/22'
 '2018/2/23' '2018/2/27' '2018/4/22' '2018/3/2' '2018/6/6' '2018/2/2'
 '2018/5/2' '2018/4/9' '2018/2/5' '2018/4/2' '2018/6/4' '2018/4/27'
 '2018/3/20' '2018/3/29' '2018/7/1' '2018/3/6' '2018/5/8' '2018/6/28'
 '2018/8/8' '2018/2/8' '2018/5/12' '2018/6/11' '2018/1/26' '2018/7/23'
 '2018/8/9' '2018/6/24' '2018/7/17' '2018/8/12' '2018/4/20' '2018/5/11'
 '2018/6/10' '2018/9/3' '2018/5/6' '2018/8/2' '2018/6/7' '2018/3/3'
 '2018/5/14' '2018/7/21' '2018/6/22' '2018/4/6' '2018/7/12' '2018/6/25'
 '2018/6/9' '2018/10/10' '2018/6/5' '2018/9/26' '2018/10/13' '2018/4/23'
 '2018/10/28' '2018/7/22' '2018/8/26' '2018/9/2' '2018/6/23' '2018/6/13'
 '2018/7/25' '2018/7/16' '2018/9/18' '2018/5/29' '2018/6/14' '2018/8/28'
 '2018/5/21' '2018/10/29' '2018/8/30' '2018/8/20' '2018/5/23' '2018/8/16'
 '2018/6/2' '2018/6/17' '2018/6/30' '2018/8/17' '2018/7/11' '2018/6/27'
 '2018/10/30' '2018/6/16' '2018/4/30' '2018/1/31' '2018/8/19' '2018/9/15'
 '2018/2/12' '2018/5/17' '2018/6/20' '2018/8/21' '2018/4/4' '2018/4/18'
 '2018/4/11' '2018/4/25' '2018/8/10' '2018/9/30' '2018/4/28' '2018/5/4'
 '2018/9/13' '2018/6/21' '2018/9/29' '2018/8/14' '2018/7/5' '2018/6/19'
 '2018/8/31' '2018/9/10' '2018/1/28' '2018/5/24' '2018/7/6' '2018/9/16'
 '2018/2/13' '2018/8/4' '2018/5/3' '2018/6/15' '2018/10/15' '2018/6/3'
 '2018/7/8' '2018/5/28' '2018/8/27' '2018/7/13' '2018/10/22' '2018/10/25'
 '2018/8/11' '2018/12/28' '2018/12/4' '2018/12/10' '2018/11/29'
 '2018/11/22' '2018/12/5' '2018/12/12' '2018/12/13' '2018/11/13'
 '2018/11/12' '2018/11/10' '2018/10/31' '2018/8/13' '2018/6/12'
 '2018/1/13' '2018/9/7' '2018/5/1' '2018/6/29' '2018/4/5' '2018/1/11'
 '2018/7/15' '2018/9/4' '2018/8/23' '2018/10/1' '2018/9/27' '2018/9/12'
 '2018/9/8' '2018/8/29' '2018/9/21' '2018/9/22' '2018/10/12' '2018/7/31'
 '2018/9/25' '2018/9/19' '2018/9/23' '2018/8/1' '2018/8/22' '2018/10/17'
 '2018/9/24' '2018/9/5' '2018/10/7' '2018/7/19' '2018/10/9' '2018/10/24'
 '2018/8/25' '2018/10/21' '2018/10/26' '2018/10/18' '2018/7/9'
 '2018/12/30' '2018/12/23' '2018/11/11' '2018/11/16' '2018/11/5'
 '2018/1/1' '2018/8/24' '2018/7/18' '2018/9/6' '2018/10/11' '2018/12/2'
 '2018/12/3' '2018/11/27' '2018/11/26' '2018/12/14' '2018/12/20'
 '2018/12/26' '2018/11/23' '2018/11/20' '2018/1/9' '2018/1/5' '2018/1/24'
 '2018/8/3' '2018/1/25' '2018/1/6' '2018/1/27' '2018/7/3' '2018/2/22'
 '2018/1/14' '2018/1/8' '2018/1/12' '2018/1/3' '2018/1/4' '2018/2/21'
 '2018/9/1' '2018/9/14' '2018/8/15' '2018/8/6' '2018/8/7' '2018/1/23'
 '2018/9/9' '2018/1/29' '2018/9/20' '2018/9/28' '2018/10/14' '2018/9/11'
 '2018/10/27' '2018/1/15' '2018/7/2' '2018/1/30' '2018/10/20' '2018/1/10'
 '2018/12/31' '2018/12/29' '2018/12/9' '2018/11/30' '2018/12/1'
 '2018/12/19' '2018/12/15' '2018/12/27' '2018/12/18' '2018/11/24'
 '2018/12/25' '2018/12/11' '2018/12/17' '2018/12/7' '2018/11/25'
 '2018/12/24' '2018/11/9' '2018/12/8' '2018/12/6' '2018/11/17' '2018/11/8'
 '2018/11/21' '2018/11/19' '2018/11/15' '2018/11/1' '2018/11/7'
 '2018/11/2' '2018/11/4' '2018/6/18' '2018/7/4' '2018/8/18' '2018/7/20'
 '2018/7/10' '2018/7/27' '2018/7/26' '2018/10/6' '2018/10/16' '2018/10/8'
 '2018/9/17' '2018/10/2' '2018/10/3' '2018/10/5' '2018/10/23' '2018/10/19'
 '2018/1/7' '2018/1/20' '2018/10/4' '2018/1/21' '2018/1/18' '2018/1/19'
 '2018/1/16' '2018/1/17' '2018/1/2' '2018/2/20' '2018/2/17' '2018/2/19']

In [7]:
# 类别型剔除：communityName，city，region，plate，tradeTime
cates_feat =['rentType', 'houseType', 'houseFloor', 'houseToward', 'houseDecoration', 'buildYear']

# 数值型剔除：'ID'，'supplyLandNum', 'tradeLandNum',
num_feat = ['area', 'totalFloor', 'saleSecHouseNum', 'subwayStationNum', 'busStationNum', 'interSchoolNum', 
            'schoolNum', 'privateSchoolNum', 'hospitalNum', 'drugStoreNum', 'gymNum', 'bankNum', 'shopNum', 'parkNum', 
            'mallNum', 'superMarketNum', 'totalTradeMoney', 'totalTradeArea', 'tradeMeanPrice', 'tradeSecNum', 
            'totalNewTradeMoney', 'totalNewTradeArea', 'tradeNewMeanPrice', 'tradeNewNum', 'remainNewNum', 'supplyNewNum',
             'supplyLandArea', 'tradeLandArea', 'landTotalPrice', 'landMeanPrice', 'totalWorkers',
            'newWorkers', 'residentPopulation', 'pv', 'uv', 'lookNum', 'tradeMoney']
label = ['tradeMoney']
raw_df = raw_df[categories + num_feat]
raw_df.columns

Index(['rentType', 'houseType', 'houseFloor', 'houseToward', 'houseDecoration',
       'communityName', 'city', 'region', 'plate', 'buildYear', 'tradeTime',
       'area', 'totalFloor', 'saleSecHouseNum', 'subwayStationNum',
       'busStationNum', 'interSchoolNum', 'schoolNum', 'privateSchoolNum',
       'hospitalNum', 'drugStoreNum', 'gymNum', 'bankNum', 'shopNum',
       'parkNum', 'mallNum', 'superMarketNum', 'totalTradeMoney',
       'totalTradeArea', 'tradeMeanPrice', 'tradeSecNum', 'totalNewTradeMoney',
       'totalNewTradeArea', 'tradeNewMeanPrice', 'tradeNewNum', 'remainNewNum',
       'supplyNewNum', 'supplyLandArea', 'tradeLandArea', 'landTotalPrice',
       'landMeanPrice', 'totalWorkers', 'newWorkers', 'residentPopulation',
       'pv', 'uv', 'lookNum', 'tradeMoney'],
      dtype='object')

In [8]:
# 配套设施 合并： 
# stationNum ==>   'subwayStationNum', 'busStationNum'
# schoolNum  ==>   'interSchoolNum','schoolNum', 'privateSchoolNum' ==》
# medicalNum ==>   'hospitalNum', 'drugStoreNum'
# lifeHouseNum ==> 'gymNum', 'bankNum', 'shopNum', 'parkNum', 'mallNum', 'superMarketNum'
# 土地供需比 = 土地供应建筑面积/土地成交建筑面积，土地供需比越小，市场越供不应求。
# landSupplyTradeRatio ==> supplyLandArea / tradeLandArea
raw_df['stationNum'] = raw_df['subwayStationNum'] + raw_df['busStationNum']
raw_df['schoolNum'] = raw_df['interSchoolNum'] + raw_df['schoolNum'] + raw_df['privateSchoolNum']
raw_df['medicalNum'] = raw_df['hospitalNum'] + raw_df['drugStoreNum']
raw_df['lifeHouseNum'] = raw_df['gymNum'] + raw_df['bankNum'] + raw_df['shopNum'] + raw_df['parkNum'] + raw_df['mallNum'] + raw_df['superMarketNum']
raw_df['landSupplyTradeRatio'] = raw_df['supplyLandArea'] / raw_df['tradeLandArea']

now_df = raw_df.drop(['subwayStationNum','busStationNum',
                      'interSchoolNum', 'schoolNum', 'privateSchoolNum',
                      'hospitalNum', 'drugStoreNum',
                      'gymNum', 'bankNum', 'shopNum', 'parkNum', 'mallNum', 'superMarketNum',
                      'supplyLandArea','tradeLandArea'], axis=1)
now_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41440 entries, 0 to 41439
Data columns (total 37 columns):
rentType                41440 non-null object
houseType               41440 non-null object
houseFloor              41440 non-null object
houseToward             41440 non-null object
houseDecoration         41440 non-null object
communityName           41440 non-null object
city                    41440 non-null object
region                  41440 non-null object
plate                   41440 non-null object
buildYear               41440 non-null object
tradeTime               41440 non-null object
area                    41440 non-null float64
totalFloor              41440 non-null int64
saleSecHouseNum         41440 non-null int64
totalTradeMoney         41440 non-null int64
totalTradeArea          41440 non-null float64
tradeMeanPrice          41440 non-null float64
tradeSecNum             41440 non-null int64
totalNewTradeMoney      41440 non-null int64
totalNewTradeArea       41440 non-null int64
tradeNewMeanPrice       41440 non-null float64
tradeNewNum             41440 non-null int64
remainNewNum            41440 non-null int64
supplyNewNum            41440 non-null int64
landTotalPrice          41440 non-null int64
landMeanPrice           41440 non-null float64
totalWorkers            41440 non-null int64
newWorkers              41440 non-null int64
residentPopulation      41440 non-null int64
pv                      41422 non-null float64
uv                      41422 non-null float64
lookNum                 41440 non-null int64
tradeMoney              41440 non-null float64
stationNum              41440 non-null int64
medicalNum              41440 non-null int64
lifeHouseNum            41440 non-null int64
landSupplyTradeRatio    6272 non-null float64
dtypes: float64(9), int64(17), object(11)
memory usage: 11.7+ MB

In [22]:
now_df.to_csv('now_df.csv', sep=',', index=False)

In [20]:
# 删除landSupplyTradeRatio列中为NaN的行
# 先定位到所在行的index，然后对该index进行drop操作即可
now_df.drop(now_df[np.isnan(now_df['landSupplyTradeRatio'])].index, inplace=True)
now_df.info()

C:\work\software\Anaconda5.3.0\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match